.desktop-mouse-hover{
    position: absolute;
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: $secondary;
    .hover-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
}

@media only screen and (min-width: $xlg-screen){
    .desktop-mouse-hover{
        &.in{
            display: block;
        }
    }
}