.main-title{
    transform: rotate(270deg);
    position: fixed;
    transform-origin: bottom;
    z-index: 10;
    left: 10%;
    letter-spacing: -1.9px;
    color: $secondary;
}

@media only screen and (min-width: $sm-screen){
    .main-title{
        font-size: 90px;
    }
}

@media only screen and (min-width: $md-screen){
    .main-title{
        font-size: 110px;
    }
}

@media only screen and (min-width: $lg-screen){
    .main-title{
        font-size: 160px;
        line-height: 160px;
        top: 5%;
    }
}