body{
    margin: 0px;
    height: 100vh;
    background-color: $primary;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5, h6, span, p, svg{
    color: $tertiary;
    padding: 0px;
    margin: 0px;
    font-family: "Work Sans",sans-serif;
    letter-spacing: 1.1px;
}

h1{
    font-size: 60px;
}

a {
    display: block;
    height: 100%;
    -webkit-tap-highlight-color: $secondary-transparent;
    outline: none;
}

section{
    min-width: 50vw;
    min-height: 100vh;
}

::-webkit-scrollbar {
    display:none;
}

@media only screen and (min-width: $xlg-screen){
    .horizontal-scroller{
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .selected-works{
        display: flex;
        flex-direction: row;
        width: 400vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
}