$primary: #101820;
$secondary: #8A2A2B;
$tertiary: #E3E3E1;
$attention: #F2C763;

$secondary-transparent: rgb(138, 42, 43, 0.5);
$tertiary-transparent: rgba(227, 227, 225, 0.3);

$sm-screen: 568px;
$md-screen: 768px;
$lg-screen: 882px;
$xlg-screen: 1060px;